:root {
    --font: 'Quicksand', sans-serif;
    --colour_darkBlue500: #052051;
    --colour_darkBlue400: #072B61;
    --colour_darkBlue300: #0A3871;
    --colour_darkBlue200: #356EA9;
    --colour_darkBlue100: #609ED4;
    --colour_lightBlue500: #757FB2;
    --colour_lightBlue400: #AAB2D5;
    --colour_lightBlue300: #E9ECF8;
    --colour_lightBlue200: #EFF1FA;
    --colour_lightBlue100: #F3F5FC;
    --colour_gray500: #343A40;
    --colour_gray400: #495057;
    --colour_gray300: #868E96;
    --colour_gray200: #ADB5BD;
    --colour_gray100: #CED4DA;
    --colour_white: #FFFFFF;
}


body{
    font-family: var(--font);
    background: var(--colour_lightBlue100);
    width: 100vw;
    min-height: 100vh;
}

button{
    align-items: center;
    justify-content: center;
    border-width: 1px;
    border-radius: 24px;
    border-style: solid;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

button:hover{
    transform: scale(0.98);
    cursor: pointer;
}

.image__gitHub{
    position: absolute;
    left: 3%;
    top: 86%;
    width: calc(100vw * 0.03);
    height: calc(100vw * 0.03); 
}

.image__gitHub path{
    fill: var(--colour_darkBlue400);
}

.image__gitHub:hover path{
    fill: var(--colour_gray500);
    cursor: pointer;
}



@media screen and (max-width: 768px) {
    .image__gitHub{
        top: 0%;
        left: 86%;
        margin-top: 5%;
        width: calc(100vw * 0.06);
        height: calc(100vw * 0.06);        
    }
}

@media screen and (max-width: 375px) {
    button{
        border-radius: 20px;
        font-size: 14px;
    }

    .image__gitHub{
        top: 0%;
        left: 84%;
        margin-top: 5%;
        width: calc(100vw * 0.1);
        height: calc(100vw * 0.1);  
    }
}
